{% extends 'authentication/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1 class="h4 mb-3 fw-normal">Please sign in</h1>

    <form action="{% url 'authentication:login' %}" method="post">
        {% csrf_token %}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}

        <label for="username" class="visually-hidden">Username</label>
        <input type="text" id="username" name="username" class="form-control round-top" placeholder="Username" required autofocus>

        <label for="password" class="visually-hidden">Password</label>
        <input type="password" id="password" name="password" class="form-control round-bottom" placeholder="Password" required>

        <a href="{% url 'authentication:forgot' %}" class="link-secondary mt-3">Forgot your password?</a>

        <input class="w-100 btn btn-lg btn-primary mt-3" type="submit" value="Sign in">
    </form>
{% endblock %}
