{% extends 'authentication/base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <h1 class="h4 mb-3 fw-normal">Change your password</h1>

    <form action="{% url 'authentication:reset' uid=uid token=token %}" method="post">
        {% csrf_token %}

        <div class="form-floating">
            <input type="password" id="password" name="password" class="form-control round-top" placeholder="Password" required>
            <label for="password">Password</label>
        </div>

        <div class="form-floating">
            <input type="password" id="password-confirm" name="password-confirm" class="form-control round-bottom" placeholder="Confirm password" required>
            <label for="password-confirm">Confirm Password</label>
        </div>

        <input class="w-100 btn btn-lg btn-primary mt-3" type="submit" value="Reset password">
    </form>
{% endblock %}
