# The key to secure sessions
SECRET_KEY=some-secure-string

# Enable Django debug mode
DEBUG=no

# Whether HTTPS is being used
HTTPS=no

# Where the application can be accessed
PUBLIC_URL=localhost

# The Postgres database to connect to
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/postgres

### MailGun configuration
# The api key for your account
MAILGUN_API_KEY=your-api-key
# The domain to send mail from
MAILGUN_DOMAIN=some.domain
# The key that webhooks are signed with
MAILGUN_WEBHOOK_SIGNING_KEY=your-signing-key
# A shared secret to add extra security to your webhooks
# Must be in the format:
#       <string>:<string>
# Ex:   abcdefgh:ijklmnop
WEBHOOK_SECRET=some-shared-secret

### AWS S3 configuration
# The access key id with access to S3
AWS_ACCESS_KEY_ID=your-access-key-id
# The corresponding secret access key
AWS_SECRET_ACCESS_KEY=your-secret-access-key
# The name of the bucket to upload to
AWS_STORAGE_BUCKET_NAME=some-bucket
# The region the bucket resides in
AWS_S3_REGION_NAME=us-west-1

### Celery configuration
# The Redis instance to send the messages through and store the results in
REDIS_URL=redis://127.0.0.1:6379

### Discord OAuth login configuration
# The ID of the server to require MANAGE_SERVER permissions in
DISCORD_GUILD_ID=123456789098765432
# The application's client ID
DISCORD_CLIENT_ID=your-client-id
# The application's client secret
DISCORD_CLIENT_SECRET=your-client-secret
