{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card shadow rounded">
            <h3 class="card-header">Conversations</h3>
            <div class="card-body">
                <div class="row text-center m-0 p-0">
                    <div class="col-md">
                        <a href="{% url 'conversations:unclaimed' %}">Unclaimed</a>
                    </div>
                    <div class="col-md">
                        <a href="{% url 'conversations:claimed' %}">Your Threads</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow rounded">
            <h3 class="card-header">Schedule Mail</h3>
            <div class="card-body">
                <div class="row text-center m-0 p-0">
                    <div class="col-md">
                        <a href="#">Unimplemented</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow rounded">
            <h3 class="card-header">Your Account</h3>
            <div class="card-body">
                <div class="row text-center m-0 p-0">
                    {% if user.is_staff %}
                        <div class="col-md">
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </div>
                    {% endif %}
                    <div class="col-md">
                        <a href="{% url 'account:settings' %}">Settings</a>
                    </div>
                    <div class="col-md">
                        <a href="{% url 'account:logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
